## Tuples

##### Immutable (Cannot be changed)

In [3]:
bio_data = ('Abdullah', 'Student', 'Bachelors')

In [5]:
type(bio_data)

tuple

In [6]:
bio_data.index('Abdullah')

0

In [ ]:
personal_bio = ('Abdullah', 21, '5.10 feet',21)
print (personal_bio.index(21))
print(personal_bio.index('Abdullah'))

1
0

### Loops

In [15]:
fruits= ['Apple', 'Banana', 'Mango', 'Peach']

In [136]:
fruits[0], fruits[1]

('Apple', 'Banana')

In [17]:
enumerate(fruits)

In [18]:
for fruit in fruits:
    print(fruit)

Apple
Banana
Mango
Peach

In [19]:
em_fruits = enumerate

In [20]:
for data in enumerate(fruits):
    print(f"{data[1]} is at {data[0]}")

Apple is at 0
Banana is at 1
Mango is at 2
Peach is at 3

In [24]:
fruits_index = [0,1,2,3]
print(fruits_index)
fruits

[0, 1, 2, 3]

['Apple', 'Banana', 'Mango', 'Peach']

In [30]:
for data in zip(fruits_index,fruits):
    print(data)

(0, 'Apple')
(1, 'Banana')
(2, 'Mango')
(3, 'Peach')

In [38]:
for temp in range(2,5,2):                           
    print(temp)

2
4

In [42]:
for num in range(1,61,3):
    print(num)

1
4
7
10
13
16
19
22
25
28
31
34
37
40
43
46
49
52
55
58

In [47]:
print('Apple\n'*5)

Apple
Apple
Apple
Apple
Apple

In [64]:
clean_cities = ['Karachi','Lahore','Islamabad']
not_clean = []
user_input = input("Enter city:")
if user_input in clean_cities:
    print("Your city is clean")
else:
    print(user_input)

## Dictionaries

key:value

In [69]:
dict = {'age':21, 'weight':55}
print(type(dict))

<class 'dict'>

In [76]:
dict['age']

21

In [78]:
customer = {"first name": "Abdullah",
            "last name": "Akhlaq",
            "City": "Shahkot"}
customer

{'first name': 'Abdullah', 'last name': 'Akhlaq', 'City': 'Shahkot'}

In [80]:
customer['City']

'Shahkot'

In [84]:
dict_versitality = {1:'Abdullah',
                    2:'Akhlaq',
                    3:'Randhawa'}
dict_versitality[2]

'Akhlaq'

In [89]:
# Add Values
customer["phone"] = '+923002315355'
customer['area'] = 'DHA'
customer

{'first name': 'Abdullah',
 'last name': 'Akhlaq',
 'City': 'Shahkot',
 'phone': '+923002315355',
 'city': 'Karachi',
 'area': 'DHA'}

In [101]:
dictionary={}
taskCount = input("How many task you want to do")
for count in range(int(taskCount)):
    dictionary['Task:'+str(count)]=input("Enter your task")
dictionary

{'Task:0': 'nashta', 'Task:1': 'parhai', 'Task:2': 'gym', 'Task:3': 'neend'}

In [106]:
del(customer['city'])
customer

{'first name': 'Abdullah',
 'last name': 'Akhlaq',
 'City': 'Shahkot',
 'area': 'DHA'}

In [132]:
list_of_dict = {
'first name': 'Abdullah', 
'last name': 'Akhlaq',
'City': 'Shahkot',
'area': 'DHA',
'first name': 'Ali',
'last name': 'qasim',
'City': 'khi',
'area': 'pashe 2',
'first name': 'ahmed',
'last name': 'khan',
'City': 'lhr',
'area': 'phase1'}

In [133]:
list_of_dict['area']

'phase1'