# Saylani Class 2

In [46]:
print("Saylani Class 2")

Saylani Class 2

### Variable

In [47]:
name = "Abdullah"   #string
print(name)
print(type(name))
print(id(name))

Abdullah
<class 'str'>
1847092535024

In [48]:
age = 22            #integer
print(age)
id(age)

22

140706274958424

In [49]:
weight = 54.5       #float
print(weight)
id(weight)

54.5

1847186076400

In [50]:
is_present = True    #boolean
print(is_present)
print(type(is_present))
id(is_present)

True
<class 'bool'>

140706273811504

In [51]:
5//2

2

In [52]:
import math 
x = 5/2
y = (math.ceil(x))
print(" result is :",y)

 result is : 3

In [53]:
age = 15
age

15

In [59]:
age=input("Enter your age:")
if age == 20:
    print("Hello")
else:
    print("bye")

Enter your age: 12

bye

In [56]:
name, age, weight,is_present

('Abdullah', '32', 54.5, True)

## Formating

In [73]:
print("Student name: ",name)
print(f"Student age: {age}")
print("Student weight: " ,weight)
print("Is student present?: " + str (is_present))

Student name:  Abdullah
Student age: 12
Student weight:  54.5
Is student present?: True

Formating can be done using comma , add and f